.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
}

.list_fields {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex: 1;
    gap: 10px;
    padding: 10px
}

.field {
    display: flex;
    min-width: 45%;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

